* {
  margin: 0;
  padding: 0;
  background-color: none;
  background-image: none;
  font-size: 1em;
  border: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*:focus {
  outline: 1px red; }

html {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: subpixel-antialiased; }

h1, h2, h3, h4, h5, h6, p {
  font-size: 1em;
  font-weight: normal; }

ul, li {
  list-style: none; }

hr {
  display: block;
  border: none;
  height: 1px;
  background: #eee; }

input, select {
  vertical-align: middle; }

button, input, select, textarea {
  background: transparent;
  border: 1px solid #ddd;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-family: Arial, sans-serif;
  font-family: inherit;
  border: 1px solid #aaa;
  vertical-align: middle; }

table {
  border-collapse: collapse; }
  table td, table th {
    border: 1px solid #ddd; }

html {
  font-size: 16px; }

img {
  max-width: 100%;
  height: auto; }

.container {
  max-width: 980px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .container > div {
    width: 50%;
    padding: 1em; }

#background-img {
  min-height: 100vh;
  min-width: 100vh;
  height: auto;
  width: auto;
  position: fixed;
  margin: auto;
  z-index: -1;
  top: 0; }

#about {
  margin-top: 100vh; }

.section {
  background: rgba(255, 255, 255, 0.9); }

.nav {
  position: fixed;
  z-index: 1;
  color: #fff;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-height: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-transition: all;
  -o-transition: all;
  transition: all; }
  .nav.hang {
    -ms-flex-line-pack: justify;
    align-content: space-between;
    background: #fff;
    color: #000; }
  .nav-logo {
    height: 8em;
    width: auto;
    display: block; }
    .nav-logo svg {
      height: 100%;
      width: auto; }
    .nav-logo .st0 {
      fill: #FFF; }
  .nav.hang .nav-logo svg .st0 {
    fill: #000; }
  .nav-link {
    color: inherit;
    text-transform: uppercase;
    text-decoration: none; }
